{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
	<title>Translate page</title>
</head>
<body>
	<h1>Translate page</h1>
	<form action="{% url 'translate_page' %}" method="post" class="form_translate">
		{% csrf_token %}
		<div class="radio_checker_container">
			<label class="radio_checker">Text and translate
				<input type="radio" name="display" value="double" checked>
				<span class="checkmark"></span>
			</label>
			<label class="radio_checker">Translate only
				<input type="radio" name="display" value="single">
				<span class="checkmark"></span>
			</label>
		</div>
		<div class="flex-container">
			<div class="container-1">
				<h3>Your text</h3>
				{{ form.input_field }}
			</div>
			<div class="container-2">
				<h3>Translate</h3>
				<div class="text_field">{{ form.output_field }}</div>
			</div>
		</div>
		
		<input type="submit" value="TRANSLATE" class="translate-button">
	</form>
	
	<script type="text/javascript" src="{% static 'js/main_page.js' %}"></script>
	
</body>
</html>
