{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/translate_page_styles.css' %}">
	<title>Translate page</title>
{% endblock %}

{% block body %}
	<h1>Translate page</h1>
	<form action="{% url 'translate_page' %}" method="post" class="form_translate">
		{% csrf_token %}

		<div class="radio_checker_container">
			<label class="radio_checker">Text and translate
				<input type="radio" name="display" value="double" checked>
				<span class="checkmark"></span>
			</label>
			<label class="radio_checker">Translate only
				<input type="radio" name="display" value="single">
				<span class="checkmark"></span>
			</label>
		</div>
		<div class="flex-container">
			<div class="container-1">
				<div class="copy-block">
					<h3>Your text</h3>
					<select class="language" name="text_language" id="text_lang_view">
						{% for key, value in languages.items %}
							<option value="{{ key }}" {% if key == form.text_language.value %}selected{% endif %}>{{ value|capfirst }}</option>
						{% endfor %}
					  </select>
					  
					<input type="button" class="copy-button" onclick="copyText('originText')" value="copy">
				</div>
				<p style="position: absolute; right: 0; margin: 0;"><span id="symbolCount">0/5000</span>
				<div class="origin-text">{{ form.input_field }}</div>
			</div>
			<div class="container-2">
				<div class="copy-block" style="display: flex;">
					<h3>Translate</h3>
					<select class="language" name="translate_language" id="text_lang_view">
						{% for key, value in languages.items %}
						  <option value="{{ key }}" {% if key == form.translate_language.value %}selected{% endif %}>{{ value|capfirst }}</option>
						{% endfor %}
					  </select>
					  
					<input type="button" class="copy-button" onclick="copyText('translatedText')" value="copy">
				</div>
				<div class="text-field">{{ form.output_field }}</div>
			</div>
		</div>
		<div class="button-group">
			<input type="button" value="CLEAR" class="form-button translate-form-clean-button clean_button hide" onclick="clearTextarea()">
			<input type="submit" value="DROP" class="form-button translate-form-drop-button drop_button hide">
			<input type="submit" value="TRANSLATE" class="form-button translate-form-translate-button">
		</div>
		</form>
		<div id="notification" class="notification"></div>
		<input type="hidden" id="is-hide" value="{{ is_hide|lower }}">


	<script type="text/javascript" src="{% static 'js/translate_page_code.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/buttons.js' %}"></script>
{% endblock %}
